<!DOCTYPE html>

<html>
    <body>
        <%= render 'layouts/navbar' %>
        <% if @sources %>
            <%= render 'layouts/sources-container' %>
            <%= render 'layouts/saved' %>
        <% else %>
            <%= render 'layouts/faq' %>
        <% end %>
        <!-- <%= render 'layouts/saved' %> -->
    </body>
    <footer class="container">
    <div class="d-flex justify-content-center"><a href="/">Home</a></div>
    </footer>
</html>