<!DOCTYPE html>
<html lang="en">
    <br>
    <body>
    <div class="container-fluid col-md-10" style="background-color:#eaf3ff"> 
    <br><h2><strong><%= @page.title %></strong></h2><hr>
    <h5> Summary </h5>
    <p> <%= @page.summary %> </p> <hr> <br>
    <div id="linkcolor">
    <% @sources.each do |description, link| %>
        <div class="col-lg-16">
            <span>  <%= link_to description, link, target: :_blank %> </span> 
            <% if user_signed_in? %>
                <%= button_to "Save", {:controller => :source, :action => :saved}, params:{saveditem: link}, class: 'btn btn-outline-success btn-sm' %>
                </button> 
                <hr>
            <% end %>
        </div>
    <% end %>
    <%= button_to "Download All", {:controller => :source, :action => :download}, params:{output: @sources}, class: 'btn btn-success' %>
<div id="bottom">
</div>
</div>
</body>
<br>
</html> 