<!DOCTYPE html>
<html lang="en">
    <br>
    <body>
        <div class="container-fluid col-md-10" style="background-color:#eaf3ff"> 
        <div style="padding: 0px">
            <br><h2><strong><%= @page.title %></strong></h2>
        </div>
            <hr>
        <div style="padding: 0px">
            <h5> Summary </h5>
            <p> <%= @page.summary %> </p>
        </div> 
        <hr> 
            <div style="padding: 0px">
            <%= button_to "Download All", {:controller => :source, :action => :download_all}, params:{output: @sources}, class: 'btn btn-success' %>
            </div>
            <hr>
            <div id="linkcolor">
	            <% @sources.each do |description,link,saved| %>
                    <div class="flex-container">
                        <div class="col"  style="padding: 0px">
                            <%= link_to description, link, target: :_blank %> 
                        </div>
                        <% if user_signed_in? %>
                        <div class="move-down">
                        <div class='btn-group form-btn-group'>
                                <div class="float-right" >	
                                    <%= button_to "Download", {:controller => :source, :action => :download}, params:{output: link}, class: 'btn btn-outline-primary btn-sm' %>	
                                </div>
                                <div class="float-right" >				
                                    <%= button_to "Save", {:controller => :source, :action => :saved}, params:{saveditem: link}, class: 'btn btn-outline-primary btn-sm' %>	
                                </div>			
                        </div>
                        </div>
                        <% end %>
                    </div>
                    <hr>
                <% end %>
            </div>
            <%= button_to "Download All", {:controller => :source, :action => :download_all}, params:{output: @sources}, class: 'btn btn-success' %>
            <hr>
            <div id="bottom">
            </div>
            
        </div>
    </body>
	<center>
	    <br>
	    <a href="#top">Scroll Up</a>
	</center>
</html> 
