<!DOCTYPE html>
<%= stylesheet_link_tag "application" %>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport"
      content="width=device-width, 
               initial-scale=1.0" />
<title>Sourcely - Saved</title>
</head>

<body class = "section">
<div class = "container-fluid">
<%= render 'layouts/navbar_not_index' %>
<center>
      <div class = "container-fluid">
      <h2>My Saved Sources</h2>
      </div>
      <i class="bi bi-download"></i>
</center>
<div class="container-fluid col-md-10" style="background-color:#eaf3ff"> 
<br>
<div class="col-md-12 text-center mb-1">
<%= button_to "Download All", {:controller => :source, :action => :download}, params:{output: @sourcelist}, class: 'btn btn-success' %>
<br>

</div>
<br>
<% @sourcelist.each do |Saved| %>
      <span>                  
      <div id="linkcolor">
            <div class="row">
            <div class="col-9">
            <%= link_to saved, saved, target: :_blank %>   
            </div>
            <div class="col">
            <%= button_to "Download", {:controller => :source, :action => :download}, params:{output: saved}, class: 'btn btn-outline-success btn-sm' %> 
            </div>
            <div class="col">
            <%= button_to "Delete", {:controller => :source, :action => :delete}, params:{output: saved}, class: 'btn btn-outline-danger btn-sm' %>
            </div>
            </div>
      </span>
      <br>
      <br>
<% end %>
<br>
</div>
</div>
<br>
</html>